<main>
    <section >
        <h1 class="gallery-title">Gallery</h1>
        <div class="galery">
            <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a><a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a><a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a> <a href="Assets/Img/sm5.jpg">
                <img src="Assets/Img/sm5.jpg" alt="">
            </a>
        </div>
        <h3>to do Pagination</h3>

    </section>

</main>