@model HomeVM
<main>
    <section id="Slider">

        <div class="owl-carousel owl-theme ">
         @foreach (var slide in Model.HeadSlides)
         {
             <div class="item">
                 <img src="~/Assets/Img/@slide.Image" alt="">
             </div>
         }
            @* <div class="item"> *@
            @*     <img src="~/Assets/Img/212861645_521989545816669_2040208086010989354_n.jpg" alt=""> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <img src="~/Assets/Img/212861645_521989545816669_2040208086010989354_n.jpg" alt=""> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <img src="~/Assets/Img/212861645_521989545816669_2040208086010989354_n.jpg" alt=""> *@
            @* </div> *@
        </div>
        <!-- or ul.my-slider > li -->
    </section>

    <section id="headcard">
        <h3 class="head-card-title"> Last added</h3>
        <div class="headcards">
          <div class="card">
              <a class="card-image" href="~/Assets/img/sm5.jpg" target="_blank"
                 style="background-image: url(Assets/img/sm5.jpg);">
                  <img src="~/Assets/img/sm5.jpg" alt="Psychopomp"/>
              </a>
              <a class="card-description" href="http://station.eu5.org/Assets/Img/sm5.jp" target="_blank">
                  <h2>Psychopomp</h2>
                  <p>Japanese Breakfast</p>
              </a>
          </div>
          <div class="card">
              <a class="card-image" href="http://station.eu5.org/Assets/Img/sm5.jp" target="_blank"
                 style="background-image: url(Assets/img/sm5.jpg);">
                  <img src="http://station.eu5.org/Assets/Img/sm5.jpg" alt="Psychopomp"/>
              </a>
              <a class="card-description" href="http://station.eu5.org/Assets/Img/sm5.jp" target="_blank">
                  <h2>Psychopomp</h2>
                  <p>Japanese Breakfast</p>
              </a>
          </div>
          <div class="card">
              <a class="card-image" href="http://station.eu5.org/Assets/Img/sm5.jp" target="_blank"
                 style="background-image: url(Assets/img/sm5.jpg);">
                  <img src="http://station.eu5.org/Assets/Img/sm5.jpg" alt="Psychopomp"/>
              </a>
              <a class="card-description" href="http://station.eu5.org/Assets/Img/sm5.jp" target="_blank">
                  <h2>Psychopomp</h2>
                  <p>Japanese Breakfast</p>
              </a>
          </div>
          <div class="card">
              <a class="card-image" href="http://station.eu5.org/Assets/Img/sm5.jp" target="_blank"
                 style="background-image: url(Assets/img/sm5.jpg);">
                  <img src="http://station.eu5.org/Assets/Img/sm5.jpg" alt="Psychopomp"/>
              </a>
              <a class="card-description" href="http://station.eu5.org/Assets/Img/sm5.jp" target="_blank">
                  <h2>Psychopomp</h2>
                  <p>Japanese Breakfast</p>
              </a>
          </div>
      </div>
    </section>
    <!--    <section id="Featured">-->
    <!--        <div class="container">-->
    <!--            <h3>New Menus</h3>-->
    <!--            <div class="row">-->
    <!--                <div class=" col-xs-12 col-sm-6 col-md-3 d-flex">-->
    <!--                    <div class="Featured-card mr-5">-->
    <!--                        <a href="#" class="img_container">-->
    <!--                            <img src=" Assets/Img/Features.jpg" width="100%">-->

    <!--                        </a>-->
    <!--                        <div class="Featured-card-title ">-->
    <!--                            <a href="# ">-->
    <!--                                <h4> Shusi Shusi</h4>-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                </div>-->
    <!--                <div class=" col-xs-12 col-sm-6 col-md-3 d-flex">-->
    <!--                    <div class="Featured-card mr-5">-->
    <!--                        <a href="#" class="img_container">-->
    <!--                            <img src=" Assets/Img/Features.jpg" width="100%">-->

    <!--                        </a>-->
    <!--                        <div class="Featured-card-title ">-->
    <!--                            <a href="# ">-->
    <!--                                <h4> Shusi Shusi</h4>-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                </div>-->
    <!--                <div class=" col-xs-12 col-sm-6 col-md-3 d-flex">-->
    <!--                    <div class="Featured-card mr-5">-->
    <!--                        <a href="#" class="img_container">-->
    <!--                            <img src=" Assets/Img/Features.jpg" width="100%">-->

    <!--                        </a>-->
    <!--                        <div class="Featured-card-title ">-->
    <!--                            <a href="# ">-->
    <!--                                <h4> Shusi Shusi</h4>-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                </div>-->
    <!--                <div class=" col-xs-12 col-sm-6 col-md-3 d-flex">-->
    <!--                    <div class="Featured-card mr-5">-->
    <!--                        <a href="#" class="img_container">-->
    <!--                            <img src=" Assets/Img/Features.jpg" width="100%">-->

    <!--                        </a>-->
    <!--                        <div class="Featured-card-title ">-->
    <!--                            <a href="# ">-->
    <!--                                <h4> Shusi Shusi</h4>-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </div>-->

    <!--                </div>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->


    <section id="Galery">
        <h3 class="gallery-title-hm ">Galery</h3>
        <div class="galery">
            <a href="~/Assets/Img/sm5.jpg" class="hg">
                <img src="~/Assets/Img/sm5.jpg" alt="">
            </a>
            <a href="~/Assets/Img/sm5.jpg" class="hg">
                <img src="~/Assets/Img/sm5.jpg" alt="">
            </a>
            <a href="~/Assets/Img/sm5.jpg" class="hg">
                <img src="~/Assets/Img/sm5.jpg" alt="">
            </a>
        </div>
        <p class="see-all"><a href="Gallery.html">See All</a></p>
     </section>
    <section id="Home-parallax">
        <div class="Homeparallax" style="background-image: url(Assets/Img/sm5.jpg) ">
            <div class="content-parallax">
                <!--                <h1> Hello</h1>-->
            </div>
        </div>
    </section>
    <section id="About">
        <div class="container">
            <h3>About Us</h3>
            <div class="row">
                <div class="col-lg-6 about-img-col">
                    <div class="about-img-container">
                        <img src="Assets/Img/sm16.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-txt-container">
                        <h4 class="head">
                            Lorem ipsum
                        </h4>
                        <p class="title">
                            Lorem ipsum Lorem ipsumLorem ipsumLorem ipsum
                        </p>
                        <p class="about-content">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>